html,
body {
    margin: 0;
    padding: 0;
    display: flex;
}


#player {
    position: absolute;
    bottom: 1px;
}

.arrow {
    position: fixed;
    bottom: 0;
}

.zombie {
    position: fixed;
    top: 0;
}

.star {
    position: fixed;
    top: 0;
}

#score {
    position: fixed;
    right: 250px;
    top: 100px;
}

.game {
    position: relative;
    margin: 5px 5px;
    max-width: 900px;
    min-width: 900px;
    min-height: 800px;
    border: 1px black solid;
    background-image: url("../images/name2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 900px 800px;
}

#health {
    float: right;
    margin: 15px 15px;
    padding: 10px 10px;
    background-color: black;
    border-radius: 5px;

}

.fa {
    color: red;
}

.start-btn {
    position: fixed;
    top: 380px;
    left: 380px;
    width: 180px;
    height: 65px;
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.start-btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.end-btn {
    display: none;
    position: fixed;
    top: 380px;
    left: 330px;
    width: 200px;
    height: 100px;
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color: red;
    color: white;

}

#ranking {
    position: absolute;
    right:0px;
    top:150px;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height:500px;
/*    border: 1px black solid;*/
}


.ranking-list{
    margin: 15px 15px;
    width: 300px;
    color:white;
    font-weight: bold;
    height: 80px;
    background-color: #2bbda3;
/*    border: 1px black solid;*/
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 8px;
}

.ranking-list p{
  margin: 0px 15px;
}
